* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #686262 !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  border-style: none;
  border: none 0;
  max-width: 100%;
}

a {
  text-decoration: none !important;
  color: wheat !important;
  font-size: 1.3rem;
  &:hover {
    cursor: pointer;
    // color: red !important;
  }
}

nav {
  margin-inline: 20px;
  display: flex;
  justify-content: end;
  gap: 50px;
}

.nav-link-main {
  font-size: 2rem;
}

.logo {
  margin-right: auto;
  width: 140px;
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.circle {
  border-radius: 50%; /* Makes the div a circle */
  animation: circle-animation 100s infinite linear; /* Attach the animation */
}

@keyframes circle-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.sm-img {
  display: none;
}

pre {
  margin: 1.5em 0px !important;
}

@media (max-width: 450px) {
  .nav-link-main {
    font-size: 1rem;
  }
  .lesson-container,
  .code-block-cmp,
  .class-room-modal-cmp {
    display: none !important;
  }
  .sm-img {
    display: block;
  }
}
