.class-room-modal-cmp {
  .modal-content {
    background-color: #565151 !important;
    color: wheat;
    width: 350px;
    max-width: 40vw;
    margin-top: 50px;
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 2px;
      padding-left: 5px;
    }

    #checkbox {
      margin-left: 15px;
    }
  }

  .modal-dialog {
    width: fit-content;
    margin: auto;
  }

  .modal-title {
    margin: auto;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
  }

  button {
    border: #565151;
    background-color: black;
    color: white;
    &:hover {
      background-color: black;
      opacity: 0.9;
    }
    &:disabled {
      background-color: #353131;
      color: white;
    }
  }
}

@media (max-width: 800px) {
  .modal-body {
    input {
      width: 100%;
    }
  }
}
