.lessons-preview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 60px;
}

.animated-code-cmp {
  display: none;
}

@media (max-width: 900px) {
  .lessons-preview-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .lessons-preview-container {
    grid-template-columns: 1fr;
  }
}
