body {
  background-color: $clr1;
  margin: 0;
  padding: 0;
  // remove notes (across the board)
  // font-family: "system-ui";
  color: $clr10;
  letter-spacing: 2px;
  // font-family: "Fira Code", monospace;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  height: 100%;
  color: inherit;
}

h1 {
  text-align: center;
  margin: 20px auto 30px;
}
