body {
  background-color: $clr1;
  margin: 0;
  padding: 0;
  color: $clr10;
  letter-spacing: 1px;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
  display: block;
  height: 100%;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* scrollbar  */

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: $clr1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $clr2;
  border-radius: 10px;
  border: 2px solid $clr1;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
