@import "react-notifications-component/dist/theme.css";

.rnc__notification-title {
  font-size: 20px !important;
  &::before {
    position: relative;
    font-size: 15px !important;
    margin-right: 5px;
    margin-top: 8px;
    color: white !important;
    font-family: "bootstrap-icons";
  }
}

.rnc__notification-item--success {
  .rnc__notification-title::before {
    content: "\F26B";
  }
}

.rnc__notification-item--warning {
  .rnc__notification-title::before {
    content: "\F333";
  }
}

.rnc__notification-item--danger {
  .rnc__notification-title::before {
    content: "\F623";
  }
}
