.chat-cmp {
  display: flex;
  flex-direction: column;
  background-color: $clr3;
  color: #cccccc;
  width: 30vw;
  height: 75vh;
  // height: 100%;
  max-height: 60vh;
  border-radius: 15px;
}

.chat-form {
  align-items: center;
  position: relative;
  max-height: 200px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 10px;
  padding: 15px;
  width: 100%;

  input {
    width: 80%;
    height: 30px;
  }
}

.chat-msg-container {
  margin-top: auto;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 25vh;
}

.chat-msg-line {
  overflow-wrap: anywhere;
}

.chat-btn {
  background: none;
  border: none;
  &:hover,
  &:focus,
  &:active {
    background: none;
    border: none;
  }
}

.chat-send-icon {
  font-size: 30px;
  color: $clr10;
}
