.code-block-wrapper {
  width: inherit;
  display: block;
  padding: 20px;
  background-color: $clr3;
  width: 100%;
  overflow: hidden;
  

  .CodeMirror {
    width: 100%;
    height: 100% !important;
    // max-width: 55vw;
    background-color: $clr3 !important;
    height: fit-content;
    & > {
      // overflow-y: scroll;
    }
  }

  pre {
    width: 100%;
    // overflow: initial;
  }
}

.code-editor {
  z-index: -1;
}

@media (max-width: 600px) {
  .code-block-wrapper {
    .CodeMirror {
      max-width: unset;
      font-size: 0.8rem;
    }
  }
}
