.execution-loader {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 50px;
  gap: 10px;
  border-radius: 20px;
  padding: 5px;
}

.line,
.short-line {
  height: 10px;
  background-color: rgba($clr4, $alpha: 0.8);
  border-radius: 20px;
}
