footer {
  text-align: center;
  margin: auto 0 15px;
  a {
    display: inline;
    color: #5adddb;
  }
  .heart {
    color: #cc3763;
  }
}

@media (max-width: 600px) {
  footer {
    font-size: 12px;
  }
}
