footer {
  text-align: center;
  margin: auto 0 15px;
  a {
    display: inline;
    color: $clr4;
    text-decoration: underline;
  }
  .heart {
    color: #cc3763;
  }
}

@media (max-width: 600px) {
  footer {
    font-size: 12px;
  }
}
