.hero-section-cmp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  margin: 0% 10%;
}

.title-typed-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title-slogan {
  margin-top: 20px;
  text-align: center;
}

.sub-title-slogan {
  margin: 0;
  text-align: center;
}

.public-title {
  margin-bottom: 20px;
}


@media (max-width: 600px) {
  .title-typed-box {
    flex-direction: column-reverse;
    align-items: center;
  }
  .title-slogan {
    margin-top: 50px;
    font-size: 24px;
  }
  .sub-title-slogan {
    font-size: 15px;
  }
}
