.lesson-preview-item {
  border-radius: 10px;
  height: 220px;
  min-width: 300px;
  background-color: $clr2;
  padding: 15px 20px;

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: 400;
    margin: 0;
  }

  a {
    position: relative;
    z-index: 10;

    pre {
      user-select: none;
      cursor: pointer;
    }

    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 4px 4px 4px;
      border-radius: 50%;
      &:hover {
        background-color: rgba($color: white, $alpha: 0.2);
        svg {
          animation: rotate 3s linear infinite;
        }
      }
    }
  }

  .code-block-wrapper {
    position: relative;
    z-index: -10;
    height: 70%;
    pointer-events: none;
  }

  pre::-webkit-scrollbar,
  .CodeMirror::-webkit-scrollbar,
  .CodeMirror-scrollbar-filler,
  .CodeMirror-vscrollbar,
  .CodeMirror-hscrollbar {
    display: none !important;
  }
}

.settings-icon {
  font-size: 1.2rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .title-box * {
    font-size: 1.2rem;
  }
  .lesson-preview-item {
    height: 180px;
  }
}
