.over-lay {
  background: black;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.dialog-modal {
  margin: auto;
  z-index: 20;
  border: none;
  border-radius: 10px;
  background-color: $clr3;
  color: $clr10;
  padding: 20px;
  min-width: 300px;

  h4 {
    margin-bottom: -10px;
  }

  .modal-sub-title {
    font-weight: 300;
    font-size: 0.95rem;
  }

  .modal-input-field {
    background: transparent;
    color: white;
    border: 1px solid white;
    margin: 5px 0 10px 0;
    box-shadow: 0 0 0 0.25px white;
    &::placeholder {
      color: rgb(181, 181, 181);
    }
    &:focus {
      box-shadow: 0 0 0 1px white;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: $clr2;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    margin: 0;
  }
}

.hello-icon {
  rotate: -30deg;
  transform: scaleX(-1);
  margin-left: 2px;
  font-size: 22px;
  vertical-align: -1px;
}

.modal-btn-box {
  display: flex;
  justify-content: space-between;
}

.btn-back {
  background-color: transparent;
  color: #bababa;
  border: #bababa 1px solid;
  &:hover,
  &:focus {
    background-color: initial;
    border: white 1px solid;
  }
}

.btn-join {
  background-color: white;
  opacity: 0.9;
  font-weight: 400;
  color: $clr3;
  &:disabled {
    background-color: rgba($color: grey, $alpha: 0.3);
    border: none;
  }
  &:hover {
    background-color: white;
    opacity: 1;
    color: $clr3;
  }
}
