.par-cmp {
  padding: 15px 15px 0 15px;
  color: #cccccc;
  background-color: $clr3;
  border-radius: 15px 15px 0 0;
  position: absolute;
  max-height: 40vh;
  width: 30vw;
  z-index: 100;
  overflow-y: scroll;
  border-bottom: 1px #a79e85 solid;

  button {
    padding: 0;
    color: #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
      color: white;
    }
  }
}

.participant {
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 4px;
}

.green-circle {
  align-self: center;
  height: 15px;
  width: 15px;
  background-color: #16a9a7;
  border-radius: 50%;
  box-shadow: 0 0 10px #16a9a7;
  transition: box-shadow 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .par-cmp {
    width: 90vw;
    max-height: 30vh;
  }
}


